
body{
    text-align: center;
    background: -webkit-linear-gradient(top, #00FFAF 19%, #a575ff 52%, #00FFAF 96%);
}


h1 {
    
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 40pt;
}


